<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ค้นหาวิชา</title>
</head>
<body>
    <h1>ค้นหาวิชาตามชื่อ</h1>
    <form method="GET">
        <input type="text" name="code" placeholder="ป้อนชื่อวิชา">
        <button type="submit">ค้นหา</button>
    </form>

    {% if courses %}
        <h2>ผลการค้นหา</h2>
        <ul>
            {% for course in courses %}
                <li>{{ course.Course_id }} - {{ course.Course_name }} - {{ course.Teacher_name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>ไม่พบข้อมูล</p>
    {% endif %}
</body>
</html>
